//Variáveis
$cor1: #4CAE4E; //Verde
$cor2: #3374BA; //Azul
$cor3: #8F3E97; //Roxo

/**
 * Site header
 */
.site-header {
    border-bottom: 1px solid $grey-color-light;
    min-height: 70px;
    background-color:#8F3E97;
    

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    padding-top: 0.6em;
    
    
    img {
        
        width:30%;
        margin: auto;
        display: block;
    }

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}

h1 {
    text-align: center;
    font-weight: 400;
    font-size: 1.9em;
    margin-bottom:30px;
    color: #444444;
    margin-top: 30px;
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
  
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post {
    width: 60%;
    margin: auto;
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.line {
    width: 100%;
    height: 1px;
    background-color: #2B2B2B;
    margin-bottom: 30px;
}

.inner_banner {
    overflow: hidden;
    width: 100%;
    height: 204px;
    img {width:100%;}

}
/**
 * Home
 */

.home { 
    .banner {
        overflow: hidden;
        width: 100%;
        height: 30em;
        img {width:100%; margin-top: -180px;}
    }

    .main_topics {
        width:100%;
        display: block;
        overflow: hidden;
        margin-top: 60px;
        
        
        .topic {
            width:30%;
            height:200px;
            float: left;
            color: white;
            line-height: 200px;
            font-size: 1.2em;
            
            h3 {
                text-align: center;
                margin: auto;
                vertical-align: middle;
            }
            h4 {
                 text-align: center;
                margin: auto;
            }
            
        }
        #t1 {background-color: $cor1;}
        #t2 {margin-left:5%; margin-right: 5%; background-color: $cor2;}
        #t3 {background-color: $cor3;}
    }

    .sections {
        
        width:100%;
        margin-top: 60px;
        
        .section {
            padding-top: 20px;
            //margin-bottom:5px;
            border-bottom:5px solid #fff;
            height:600px;
            overflow:hidden;
            width: 100%;
            h1 {
               
                color:white;
                font-size: 2.1em;
                margin-top: 0px;
                margin-bottom:80px;
            }
            .grafo {
                width: 60%;
                max-width:769px;
                margin:auto;
            }
            .descricao {
                display: block;
                width: 60%;
                margin: auto;
                color: white;
                border: 2px solid white;
                border-radius: 10px;
                margin-top: 40px;
                
                h4 {font-size: 1.5em; margin-left: 20px; margin-top: 20px;}
                p {margin-left: 20px;}
            }
            .cover1 {
                background:transparent; 
                position:relative; 
                height:138px; /* your circle height */
                width: 138px; /* yout circle width */
                top:275px;  /* your circle height */
                left:10px;
                margin-top:-138px;  /* your circle height */
                border-radius: 100px;
            }
            .cover2 {
                background:transparent; 
                position:relative; 
                height:138px; /* your circle height */
                width: 138px; /* yout circle width */
                top:142px;  /* your circle height */
                left:300px;
                margin-top:-138px;  /* your circle height */
                border-radius: 100px;
            }
            .cover3 {
                background:transparent; 
                position:relative; 
                height:138px; /* your circle height */
                width: 138px; /* yout circle width */
                top:192px;  /* your circle height */
                left:621px;
                margin-top:-138px;  /* your circle height */
                border-radius: 100px;
            }
        }
        
        #da1, #da2, #da3 {
            // background-color: #FFF;
            // color: $cor1;
            display: none;
            height: 800px;
        }

        #academicos {
            background-color: $cor1;
        }
        #blog {
            background-color: $cor2;
        }
        #multimidia {
            background-color: $cor3;
        }
    }
}

.tccs {

    
}
